.sidebar {
  flex: 2;
  min-width: 350px;
  height: 100vh;
  .top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    .logo {
      cursor: pointer;
    }
    margin-bottom: 5px;
  }
  .bottom {
    height: calc(100vh - 68px);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    padding-top: 8px;
    .navLink {
      text-decoration: none;
      color: inherit;
    }
  }
}
